/* Navbar Styling */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  padding-top: 10px;
  background: rgb(34 36 36); /* Similar semi-transparent effect */
  backdrop-filter: blur(10px);
  box-shadow: 0px 8px 30px rgb(0 233 250 / 32%), 0px 4px 15px rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000; /* Ensure it stays on top */
}

.nav-list {
  list-style: none;
  display: flex;
  gap: 20px;
  padding: 0;
}

.nav-list li {
  display: flex;
  align-items: center;
  background: none;
}

.webTitle {
  font-family: "Kaisei HarunoUmi", serif !important;
  color: white !important;
  text-shadow: none;
  font-weight: 800;
  font-style: normal;
  text-decoration: none;
  font-size: 24px;
}

.nav-link {
  text-decoration: none;
  color: white;
  font-size: 16px;
  font-weight: 500;
  padding: 10px 20px;
  transition: 0.25s;
  border-radius: 99px;
}

.nav-link:hover {
  background: rgba(255, 255, 255, 0.15);
}

.nav-button {
  background: #0fe1eb40;
  color: white;
  font-size: 16px;
  font-weight: bold;
  padding: 10px 20px;
  border: none;
  border-radius: 99px;
  cursor: pointer;
  transition: 0.25s;
}

.nav-button:hover {
  background: rgba(50, 205, 213, 0.8);
}

.nav-button:focus {
  outline: rgba(50, 205, 213, 0.54) 3px solid;
}

/* Mobile optimization */
@media (max-width: 768px) {
  /* Mobile */
  .navbar {
    height: 80px;
    padding: 5px 10px;
  }

  .webTitle {
    font-size: 24px;
  }

  .nav-list {
    gap: 0px;
    flex-wrap: nowrap;
    justify-content: space-evenly;
  }

  .nav-link {
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-weight: 500;
    padding: 2px 10px;
    transition: 0.25s;
    border-radius: 99px;
  }

  .nav-button {
    font-size: 16px;
    padding: 6px 10px;
  }
}
